.nova-flat-regular {
  font-family: "Nova Flat", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url("https://cdna.artstation.com/p/assets/images/images/067/114/854/large/omorphia-visual-low.jpg?1694585136");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Nova Flat", system-ui;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  color: #FFF;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.pageTwo {

}

button {
background-color: #b00207;
  color: white;
  border-color: white;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-family: "Nova Flat", system-ui;
  font-weight: 400;
  font-style: normal;
}

li {
  font-size: 30px;
}

.icon {
  width: 250px;
  height: 200px;
  padding: 15px;
}

h1 {
    color: #FFF;
}

nav {
  font: red;
color: red;
}

footer {
background-color: #b00207; 
color: #fff; 
padding: 20px; 
text-align: center; 
}